/* Default */
h1
{
  cursor: default ;
}

p
{
  cursor: default ;
}

span
{
  cursor: default ;
}

.height100
{
  min-height: 100vh ;
}

.height90 
{
  min-height: 90vh ;
}

.height10 
{
  min-height: 10vh ;
}

.background 
{
  background: #1B262C ;
}

.scale
{
  transition: all 250ms ease-in ;
}

.scale:hover
{
  transform: scale(0.93) ;
}

.scale:active
{
  transform: scale(0.97) ;
}